certifi==2026.2.25
idna==3.11
joblib==1.5.3
numpy==2.4.3
pandas==2.2.3
polars==1.39.2
polars-runtime-32==1.39.2
pyarrow==23.0.1
python-dotenv==1.2.2
requests==2.32.5
scikit-learn==1.8.0
scipy==1.17.1
simfin==1.0.1
streamlit
xgboost==3.2.0
